* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: "Open Sans";
    src: url("./font/Inter-VariableFont_slnt,wght.ttf") format("ttf");
    font-weight: bold;
  }
  * {
    font-family: "Inter";
    font-weight: 400;
  }